table{
	border-collapse: collapse;
	width: 99%;
}

td{
	border-collapse: collapse;
}

th{
	border-collapse: collapse;
	color:#ffffff;
	height:15px;
	font-size:15px;
	
}

.trn
{
	border: 2px solid transparent;
	
	
}
.tb-button {
	border:2px solid #7f8fa6;
	border-radius:20pc;
	height: 30px;
	background-color: #ffffff;
	transition: 0.2s;
}

.tb-button:hover{
	background-color: #3c40c6;
	color: #ffffff;
	border-color: #ffffff;
}

.button-del {
    border:2px solid #7f8fa6;
    padding: 2px 5px;
	border-radius:20pc;
	height: 40px;
    background-color: #ffffff;
    color: #000;
    transition: 0.2s;
    cursor: pointer;
}

.button-del:hover{
	background-color: #c23616;
	color: #ffffff;
	border-color: #ffffff;
}

  
#tb tr:nth-child(even){
	background-color: #fff;
}

#tb  tr:hover {
	background-color:#ffa48f;
}

#tb th{
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	background-color:#c23616;
	color: white;
}

.manage-btn{
    margin: 0;
    width: 200px;
    height: 40px;
    border: none;
    font-size: 16px;
    color: #fff;
    border-radius: 50px;
    background: #c23616;
    transition: 0.2s;
}

.manage-btn:hover{
    background: #1e272e;
}




